.detail-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  .exit-button {
    align-self: flex-end;
    margin-bottom: 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  .add-button{
    color: white;
    border: none;
    padding: 10px 15px;
    
    border-radius: 50px;
    background-color: #4f4cff;
     cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .exit-button:hover {
    background-color: #e04343;
    transform: scale(1.05);
  }
  
  .detail-content {
    display: flex;
    max-width: 1200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .detail-img {
    width: 100%;
    max-width: 860px;
    max-height: 400px;
    object-fit: cover;
  }
  
 