.header { 
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100%;
}

.end-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.top-label {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-weight: bold;
  display: inline;
}

.category-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.category-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.category-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;

  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

    &.active {
      border-bottom: 2px solid white;
    }

    &:hover {
      color: #ffcc00;
    }
  }
}
