.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navigation-layer {
  display: flex;
  justify-content: space-between;
  
}
.navigation {
  padding-right: 10px;
}
