<div class="navigation-layer">
  <div class="navigation">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input
        style="height: 30px"
        type="text"
        pInputText
        variant="outlined"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </p-iconField>
  </div>
  <div class="avatar">
    <p-avatar
      class="avatar-img"
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      shape="circle"
    ></p-avatar>
  </div>
</div>

